@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 250, 238, 209; /* #FAEED1 */
  --background-start-rgb: 96, 114, 116; /* #607274 */
  --background-end-rgb: 96, 114, 116; /* #607274 */
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
